.card-product {
    width: 300px;
    max-width: 400px;
    margin-bottom: 1.5rem;
}

.card-product .card-img-top {
    height: 300px;
}

.card-product .card-body {
    background-color: rgb(117, 120, 123);
}

.product-price {
    padding: 6px 12px;
    font-size: 20px;
    background-color: #1b79d1;
    color: #FFF;
    border-radius: 6px;
    max-width: max-content;
    margin-left: 4px;
}

.product-title {
    margin-top: 2px;
    margin-left: 4px;
    margin-bottom: 2px;
    color: #FFF;
    text-align: justify;
}

.container-inicial {
    background-color: rgba(245, 245, 245, 0.9);
    padding: 0;
    width: auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.container-inicial a {
    text-decoration: none;
}

.container-inicial .title-inicial {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #FFF;
    background-color: #1b79d1;
    padding: 8px;
}




.container-usrProduct {
    background-color: rgba(202, 205, 208, 0.9);
    width: 90%;
}